
<!-- New Form-->
    <div class="container">
        <h2 class="center-text">ADD USER</h2>
	<div class="form-container">
      <!-- Example row of columns -->
<!-- 	 <form class="task-manager-form"> -->
  <form class="new-task-form" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
        <label for="new-task" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-text" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-text" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Employee ID</label>
        <div class="col-sm-10">
        <input type="text" class="form-control-text" id="employeeId" formControlName="employeeId" [ngClass]="{ 'is-invalid': submitted && f.employeeId.errors }">
        <div *ngIf="submitted && f.employeeId.errors" class="invalid-feedback">
                            <div *ngIf="f.employeeId.errors.required">Last Name is required</div>
          </div>
        </div>
    </div>


	 <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label"></label>
		  <div class="col-sm-6">
			<button type="submit" class="btn btn-primary">Add User</button>
      <span class="btn btn-default margin-20-left" (click)="resetForm()">Reset</span>
		</div>
	  </div>

  </form>



	<!-- </form> -->
  </div>
  <div *ngIf="userList" class="user-list-container">
    <div class="container nopadding">
      <div class="col-sm-8 filter-container">
        <div class="col-sm-4 nopadding">
          <input class="search-box" placeholder="Search..."  type="text" [(ngModel)]="userSearch" autocomplete="off" />
        </div>
        <div class="col-sm-3">
          <label>Sort: </label>
          <button class="btn btn-outline-white" (click)="setOrder('FirstName')">Firstname</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-white" (click)="setOrder('LastName')">Lastname</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-white" (click)="setOrder('EmployeeId')">Employee Id</button>
        </div>
      </div>
    </div>
  <div class="col-sm-8 user-list-block" *ngFor="let user of userList | filter:userSearch | orderBy: order:reverse:'case-insensitive'; let i = index">
  <div class="col-sm-6 margintop20">
    <p>First Name: <span class="user-detail">{{user.FirstName}}</span></p>
    <p>Last Name: <span class="user-detail">{{user.LastName}}</span></p>
    <p>Employee Id: <span class="user-detail">{{user.EmployeeId}}</span></p>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-outline-white" (click)="editUser(user.id)">Edit</button>
  <br />
    <button class="btn btn-outline-white" (click)="endUser(user.id)">Delete</button>
  </div>
</div>
</div>


</div>



   <!-- /container -->




<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->