/* Global Styles */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}



/* Heading and BG Changes */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
.manage-head {
      background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    font-family: arial, helvetica;
    width: 600px;
    text-align: center;
    margin: auto;
}

.section-head {}

.user-list-block {
  background-color: #fff;
  margin-bottom: 20px;
      background: #2d2d2d;
    padding: 0px 10px 15px 15px;
    color: rgba(223,190,106,0.7);
    margin-bottom: 10px;
}
.user-list-container button.btn{
  margin: 8px 0 8px 0;
}
.user-list-container {
  font-size: 14px
}
.margintop20 {
  margin-top: 20px;
}
.user-detail {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-left: 10px;
}
.search-box {
   
    width: 100%;
    margin-top: 10px;
    padding: 5px;
        display: block;
    width: 100%;
     height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.search-box::placeholder {
    padding: 10px;
}
.filter-container {
  padding: 20px;
  background-color: #2d2d2d;
  margin-bottom: 30px; 
}
.form-control-text {
  padding: 10px;
}




.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: solid 2px rgba(223,190,106,0.7);
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
  text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.button--wayra {
	overflow: hidden;
	width: 245px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color: #3f51b5;
}
.button--wayra.button--inverted:hover {
	color: #3f51b5;
	border-color: #fff;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color: #3f51b5;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #fff;
}
.user-list-container label {
  color: #fff;
  display: inline-block;
  min-width: 50px; 
}
.user-list-container .btn-outline-white {
  margin-left: 5px;
}
.checkbox-style {
  min-height: 59px;
  padding: 14px;
}
#new-project {
  margin-bottom: 10px;
}
.center-text {
  text-align: center;
}


.circle {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 5% 0;
  margin: 1em auto;
  border-radius: 50%;
  background: #fff;
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 700;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

.content span {
  vertical-align: middle;
  display: inline-block;
}
.search-box.project-search {
  margin-bottom: 10px;
}
/* Heading and BG Changes */

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

