<div class="container">
  <h2 class="center-text">ADD PROJECT</h2>
</div>
<!-- New Form-->
    <div class="container">
	<div class="form-container">
      <!-- Example row of columns -->
  <form class="new-task-form" [formGroup]="newProjectForm">
	  <div class="form-group row">
		<label for="new-task" class="col-sm-2 col-form-label">Project</label>
		<div class="col-sm-10">
            <div class="row">
          <div class="col-sm-10">
		  <input type="text" class="form-control-text" id="new-project" formControlName="project" style="float: left;" [ngClass]="{ 'is-invalid': submitted && f.project.errors }">
          <div *ngIf="submitted && f.project.errors" class="invalid-feedback">
          <div *ngIf="f.project.errors.required">Project is required</div>
          </div>
          </div>

            <div class="col-sm-3 checkbox-style">
                <section class="example-section">
                    <mat-checkbox class="example-margin" [formGroup]="newProjectForm"  (click)="toggleCtrState()">Set Start and End Date</mat-checkbox>
                </section>
            </div>

            <div class="col-sm-3"> <!-- Start Date -->
                <div class="input-group input-append date" class="datePicker">
                    <mat-form-field [formGroup]="newProjectForm">
                    <input #datePicker matInput [matDatepicker]="startDate" formControlName="startDate" [(ngModel)]="newProjectForm.startDate" placeholder="Start Date" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
                    <mat-datepicker-toggle matSuffix [for]="startDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                      <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3"> <!-- End Date -->
                <div class="input-group input-append date" class="datePicker">
                    <mat-form-field [formGroup]="newProjectForm">
                    <input #datePicker matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date" [min]="newProjectForm.controls.startDate.value"  [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
                    <mat-datepicker-toggle matSuffix [for]="endDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                      <div *ngIf="f.endDate.errors.required">End Date is required</div>
                    </div>
                </div>
            </div>

            </div>
		</div>

	  </div>
	  <div class="form-group row">
		<label for="myRange" class="col-sm-2 col-form-label">Priority</label>
		<div class="col-sm-4">
		  <input type="range" min="1" max="100" value="50" class="slider" id="myRange" formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }"> <span class="range-value">{{newProjectForm.value.priority}}</span>
        <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
        <div *ngIf="f.priority.errors.required">Priority is required</div>
        </div>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Manager</label>
		<div class="col-sm-10">

    <mat-form-field class="example-full-width" [formGroup]="newProjectForm">
      <input type="text" placeholder="Select Manager" aria-label="Number" matInput formControlName="manager" [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': submitted && f.manager.errors }">
      <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let users of userList" value="{{users.FirstName + ' ' +users.LastName}}">
      {{users.FirstName}} {{users.LastName}}
      </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div *ngIf="submitted && f.manager.errors" class="invalid-feedback">
      <div *ngIf="f.manager.errors.required">Manager is required</div>
    </div>
		</div>
	  </div>





	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label"></label>
		  <div class="col-sm-6">
			<button type="submit" class="btn btn-primary" (click)="submitForm()">Create Project</button>
      <button class="btn btn-default margin-20-left" (click)="resetProjectForm()">Reset</button>
		</div>
	  </div>

  </form>
	</div>


  <div *ngIf="projectList" class="user-list-container">
    <div class="container nopadding">
      <div class="col-sm-8 filter-container">
        <div class="col-sm-12 nopadding">
          <input class="search-box project-search" placeholder="Search..."  type="text" [(ngModel)]="projectSearch" autocomplete="off" />
        </div>
        <div class="col-sm-2 margintop20" style="text-align:right;">
          <label>Sort: </label>

        </div>
        <div class="col-sm-10">
        <div class="col-sm-3">
        <button class="btn btn-outline-white" (click)="setOrder('StartDate')">Start Date</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-white" (click)="setOrder('EndDate')">End Date</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-white" (click)="setOrder('Priority')">Priority</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-white" (click)="setOrder('Active')">Completed</button>
        </div>
        </div>
      </div>
    </div>
      <div class="col-sm-10 user-list-block" *ngFor="let project of projectList | filter:projectSearch | orderBy: order:reverse:'case-insensitive'; let i = index">
          <div class="col-sm-4 margintop20">
          <p>Project: <span class="user-detail">{{project.Project}}</span></p>
          <p>Project manager: <span class="user-detail">{{project.Manager}}</span></p>
          <p>Start Date: <span class="user-detail">{{project.StartDate | date : 'shortDate'}}</span></p>
          </div>
          <div class="col-sm-3 margintop20">
          <p>Completed:
        <span class="user-detail">
            <div *ngIf="project.Active === 'true'; else elseBlock">Progress</div>
            <ng-template #elseBlock>Yes</ng-template>
        </span></p>
          <p>End Date: <span class="user-detail">{{project.EndDate | date : 'shortDate'}}</span></p>
          </div>
          <div class="col-sm-3">
            <h4 class="center-text">Priority</h4>
          <div class="circle">
          <div class="content">
          <span>{{project.Priority}}</span>
          </div>
          </div>
          </div>
          <div class="col-sm-2">
          <button class="btn btn-outline-white" (click)="editProject(project._id)">Edit</button>
          <br />
          <button class="btn btn-outline-white" (click)="endProject(project._id)">Suspend</button>
          </div>
      </div>
  </div>
  </div> <!-- /container -->




<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->