
<div class="container">
<div class="section-head">Update Task</div>
</div>
<!-- New Form-->
    <div class="container">
	<div class="form-container">
      <!-- Example row of columns -->
<!-- 	 <form class="task-manager-form"> -->
  <form class="new-task-form" [formGroup]="updateTaskForm" (ngSubmit)="onSubmit()" *ngIf="taskList">
	  <div class="form-group row">
		<label for="new-task" class="col-sm-2 col-form-label">Task</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control-text" id="new-task" formControlName="newTask" [(ngModel)]="taskList.Task">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="myRange" class="col-sm-2 col-form-label">Priority</label>
		<div class="col-sm-4">
		  <input type="range" min="1" max="100" value="50" class="slider" id="myRange" formControlName="priority" [(ngModel)]="taskList.Priority"> <span class="range-value">{{updateTaskForm.value.priority}}</span>
		</div>
	  </div>
	  
	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Parent Task</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control-text" id="new-parent-task" formControlName="parentTask" [(ngModel)]="taskList.ParentTask">
		</div>
	  </div>
	  
	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label">Start Date</label>
		<div class="col-sm-3">
		  <div class="input-group input-append date" class="datePicker">
                <mat-form-field [formGroup]="updateTaskForm">
                  <input #datePicker matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Date" [(ngModel)]="taskList.StartDate">
                  <mat-datepicker-toggle matSuffix [for]="startDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
		</div>
		</div>
	  </div>
	  
	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label">End Date</label>
		  <div class="col-sm-3">
		  <div class="input-group input-append date" class="datePicker">
                <mat-form-field [formGroup]="updateTaskForm">
                  <input #datePicker matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="Date" [(ngModel)]="taskList.EndDate">
                  <mat-datepicker-toggle matSuffix [for]="endDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
    					</mat-form-field>
		</div>
		</div>
	  </div> 
	  
	  <div class="form-group row">
		<label for="staticEmail" class="col-sm-2 col-form-label"></label>
		  <div class="col-sm-6">
			<button type="submit" class="btn btn-brown" (click)="updateTask()">Update Task</button> 
      <button type="submit" class="btn btn-default margin-20-left">Reset</button>
		</div>
	  </div> 
	  
  </form>
	<!-- </form> -->
	</div>
  </div> <!-- /container -->  




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->