
<div class="container go-to-button"> 
          <button class="btn btn-brown float-right" (click)="goToCreatePage()" >Go to Create page</button>
 </div> 
  <div class="container">  
    <div class="col-sm-12">
          <div class="show-task-form"  *ngIf="taskList">
            <div class="col-sm-8 filter-container">
              <div class="col-sm-12 nopadding">
                <input class="search-box project-search" placeholder="Search..."  type="text" [(ngModel)]="taskSearch" autocomplete="off" /> 
              </div>
              <div class="col-sm-2 margintop20" style="text-align:right;">
                <label>Sort: </label>
              </div>
              <div class="col-sm-10">
                <div class="col-sm-3">
                  <button class="btn btn-outline-white" (click)="setOrder('StartDate')">Start Date</button>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-outline-white" (click)="setOrder('EndDate')">End Date</button>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-outline-white" (click)="setOrder('Priority')">Priority</button>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-outline-white" (click)="setOrder('EmployeeId')">Completed</button>
                </div>
              </div>
            </div>
        </div>
    </div>
      <div class="view-task">
      <div *ngIf="taskList">
        
        <div class="task-card-main" *ngFor="let task of taskList | filter:taskSearch | orderBy: order:reverse:'case-insensitive';let i = index">
            <div class="row">
                <div class="col-sm-6"> <!-- First Half-->
                   <div class="row"> 

                      <div class="col-sm-6 task-card">
                        <div class="">
                          <h4>Task</h4>
                          <div class="task-box" >
                              <p class="align-center">{{task.Task}}</p>
                          </div> 
                        </div>  
                      </div>
                      <div class="col-sm-6 parent-card">
                        <div class="">
                          <h4>Parent</h4>
                          <div class="task-box">
                              <p class="align-center">{{task.ParentTask}}</p>
                          </div> 
                        </div>  
                      </div> 

                   </div>  
                </div>

                <div class="col-xs-12 col-sm-6" >
                  <div class="col-md-6 col-sm-12">  
                      <div class="col-sm-4 col-xs-6">  
                        <div class="priority-disp">
                          <h4>Priority</h4>
                          <p>{{task.Priority}}</p>
                        </div> 
                      </div>
                      <div class="col-sm-4 col-xs-6">  
                        <div class="priority-disp">
                          <h4>Start</h4>
                          <p>{{task.StartDate | date : 'shortDate'}}</p>
                        </div> 
                      </div>
                      <div class="col-sm-4 col-xs-12">  
                        <div class="priority-disp">
                          <h4>End</h4>
                          <p>{{task.EndDate | date : 'shortDate'}}</p>
                        </div> 
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 button-slot">
                    <div class="col-sm-6 col-xs-6">  
                      <button class="btn btn-outline-white btn-md" (click)="editTask(task._id)">Edit</button>
                    </div> 
                    <div class="col-sm-6 col-xs-6">  
                      <button class="btn btn-outline-white btn-md" (click)="endTask(task._id)">End Task</button>
                    </div> 
                  </div>

                </div>
            </div>  
        </div> 
      </div>
 
  </div> 
