<!--The content below is only a placeholder and can be replaced.-->
<div class="manage-head">
  <a href="http://mksht.crisnoble.com" rel="Like cool shit? visit my site">PROJECT MANAGER</a>
</div>
<br />
<div class="container">
  <div class="message">
    <div class="section-head">
      <div class="row">
          <div class="col-sm-3">
            <a routerLink="/adduser">Add project</a>
          </div>
          <div class="col-sm-3">
            <a routerLink="/adduser">Add Task</a>
          </div>
          <div class="col-sm-3">
            <a routerLink="/adduser">Add User</a>
          </div>
          <div class="col-sm-3">
            <a routerLink="/showtask">View Task</a>
          </div>
      </div>
    </div> 

  <!-- <button class="btn btn-primary btn-brown float-right" (click)="goToListPage()">Go to Task List page</button> -->
  </div>
</div>
<br />
<router-outlet></router-outlet>

